mat-toolbar {
  display: flex;
  height: 91px;
  background-color: #3f51b5;

  .logo {
    margin-left: 18px;
    margin-top: 30px;
  }

  .title {
    margin-top: 23px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 25px;
    font-size: 33px;
  }
}
