<mat-card>
    <mat-card-content>
        <img [src]="book.image" width="250" height="331" />
        <div class="detail">
            <div class="col-1">
                <img [src]="book.author.image" width="40" height="51" />
            </div>
            <div class="col-2">
                <span class="title">{{book.title}}</span>
                <span class="author">{{book.author.name}}</span>
            </div>
        </div>
        <div class="action">
            <button mat-raised-button color="primary">Read</button>
        </div>
    </mat-card-content>
  </mat-card>
